@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Site 100% Original</h1>
    <p>Isso é apenas um teste <a href="https://docs.microsoft.com/aspnet/core">Hello World</a>.</p>
</div>
